/*
css-selector {
    property: value;
}
*/
#main {
  background-color: black;
  max-width: 100px;
}
#container {
  background-color: inherit;
}
#row {
  background-color: inherit;
}
#text {
  background-color: inherit;
  color: aliceblue;
}
#image {
  background-color: white;
  padding: 0px 0px 0px 0px;
  justify-content: center;
}
#image img {
  width: 100%;
}
.left {
  float: left;
  display: inline-block;
  width: 40%;
}
.right {
  float: right;
  display: inline-block;
  width: 40%;
}
